!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">About
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a>
        </li>
        <li class="active">About</li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <!-- Intro Content -->
  <div class="row">

    <div class="col-md-12">
      <h2>Leaner analytics for a leaner you</h2>

      <p>The goal of this site and application is to help streamline the process of finding out more about the
        current health trends of yourself and those around you.</p>

      <p>Not only will you have the ability to enter in your workout information, you'll be able to compare it to
        those around to compare and contrast different metrics pertaining to health.</p>

      <p>Some include:</p>
      <ul>
        <li>Run time & Distance</li>
        <li>Averaging splits</li>
        <li>Caloric Intake</li>
      </ul>

      <h3>The Healthy Community</h3>

      <p>Not only will our project allow you to have a consolidated place for all of your health information,
        you'll also be able to look at health trends from your community and those around you. Has everyone been
        slowly improving their running times over 5 miles? Is the average bike ride aorund 12 miles?</p>
    </div>
  </div>
  <!-- /.row -->

  <!-- Team Members -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Our Team</h2>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="images/eman.jpg" alt="">

        <div class="caption">
          <h3>Manuel O. Maldonado<br>
          </h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="images/willk.jpg" alt="">

        <div class="caption">
          <h3>Will Karavites<br>
          </h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="images/tong.jpg" alt="">

        <div class="caption">
          <h3>Tongpeng Zhang<br>
          </h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="images/nick.jpg" alt="">

        <div class="caption">
          <h3>Nick Taylor<br>
          </h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="images/ming.jpg" alt="">

        <div class="caption">
          <h3>Ming The King<br>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
