<!-- Page Content -->
<div class="container">

  <!-- /.row -->

  <!-- Team Members -->
  <div class="row">
    <div class="col-lg-12">
      <h1>Your activities</h1>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <a href="activityReport.html"><img class="img-responsive" src="img/trail.gif" alt=""></a>

        <div class="caption">
          <h3>1:15 run<br>
            <small>7.12 miles</small>
          </h3>
          <p>Run felt great! Last bit was uphill.</p>

        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="img/trail.gif" alt="">

        <div class="caption">
          <h3>30 run<br>
            <small>4 miles</small>
          </h3>
          <p>Slow recovery run today.</p>

        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="img/trail.gif" alt="">

        <div class="caption">
          <h3>1:15 run<br>
            <small>7.12 miles</small>
          </h3>
          <p>Run felt great! Last bit was uphill.</p>

        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="img/trail.gif" alt="">

        <div class="caption">
          <h3>1:15 run<br>
            <small>7.12 miles</small>
          </h3>
          <p>Run felt great! Last bit was uphill.</p>

        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
