<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">About
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a>
        </li>
        <li><a href="activities.html">Activities</a>
        </li>
        <li class="active">Activity Report</li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <!-- Intro Content -->
  <div class="row">
    <div class="col-md-6">
      <h1>Map</h1>

      <div id="commMap"></div>
    </div>
    <div class="col-md-6">
      <h2>Community Activity Stats</h2>

      <div class="panel panel-default">
        <div class="panel-heading">Workout Summary</div>
        <div class="panel-body">
          <table class="table">
            <thead>
            <tr>
              <th>
                Activity Type
              </th>
              <th>
                Time
              </th>
              <th>
                Distance
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                Run
              </td>
              <td>
                1:15
              </td>
              <td>
                7 miles
              </td>

            </tr>
            <tr>
              <td>
                Bike
              </td>
              <td>
                45 minutes
              </td>
              <td>
                10 miles
              </td>
            </tr>
            <tr>
              <td>
                Swim
              </td>
              <td>
                30 minutes
              </td>
              <td>
                1 mile
              </td>

            </tr>
            <tr>
              <td>
                Run
              </td>
              <td>
                30 minutes
              </td>
              <td>
                3 miles
              </td>

            </tr>
            <tr>
              <td>
                Bike
              </td>
              <td>
                2 hour
              </td>
              <td>
                20 miles
              </td>

            </tr>
            <tr>
              <td>
                Bike
              </td>
              <td>
                2 hour
              </td>
              <td>
                20 miles
              </td>

            </tr>
            <tr>
              <td>
                Bike
              </td>
              <td>
                15 minutes
              </td>
              <td>
                1.25 miles
              </td>

            </tr>
            <tr>
              <td>
                Swim
              </td>
              <td>
                1:00
              </td>
              <td>
                2.5 miles
              </td>

            </tr>
            <tr>
              <td>
                Run
              </td>
              <td>
                45 minutes
              </td>
              <td>
                6 miles
              </td>

            </tr>

            </tbody>
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Favorite Foods</div>
        <div class="panel-body">
          <ul>
            <li>Celery & Hummus</li>
            <li>Homemade Pesto</li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Random Health Stat</div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
    <!-- Split button -->
    <div class="btn-group">
      <button type="button" class="btn btn-info">Export</button>
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu exportlist">
        <li><a href="#">JSON</a></li>
        <li><a href="#">CSV</a></li>
        <li><a href="#">Random Format</a></li>
      </ul>
    </div>
  </div>
  <!-- /.row -->

</div>
