<!-- Page Content -->
<div class="container">
  <div class="jumbotron">
    <h1>A Healthier You</h1>

    <p class="lead">Analytics for a leaner life.</p>

    <p><a class="btn btn-lg btn-success" href="signup.html" role="button">Sign up today</a></p>
  </div>
  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        What can I do?
      </h1>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-check"></i>View Activity Report</h4>
        </div>
        <div class="panel-body">
          <p>View a report for a specific activity</p>
          <a href="activityReport.html" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-gift"></i>View Activities</h4>
        </div>
        <div class="panel-body">
          <p>View your list of activities.</p>
          <a href="activities.html" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-compass"></i> Export Information</h4>
        </div>
        <div class="panel-body">
          <p>You can export your health information into numerous formats.</p>
          <a href="export.html" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-check"></i>Community Information</h4>
        </div>
        <div class="panel-body">
          <p>View overall information about the communities current activites.</p>
          <a href="communityData.html" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <hr>

  <!-- Call to Action Section -->
  <div class="well">
    <div class="row">
      <div class="col-md-8">
        <p>Please visit our blog to learn more!</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-default btn-block"
           href="http://blog.willkara.com/tag/software-engineering-class-project/">Find out More!</a>
      </div>
    </div>
  </div>
</div>
