<ion-view view-title="Add Food">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="submitFood()">Save</button>
  </ion-nav-buttons>
  <ion-content>
    <form  ng-submit="submitFood()">
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">Comments <span class="assertive">*</span></span>
          <input type="text" placeholder="Great, healthy breakfast." ng-model="foodData.comments" required="required">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Meal <span class="assertive">*</span>
          </div>
          <select 
            ng-model="selected.selectedMealType" 
            ng-options="mealType.text for mealType in mealTypes track by mealType.id" 
            required="required">
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Date <span class="assertive">*</span></span>
          <input type="datetime-local" ng-model="foodData.food_timestamp" required="required">
        </label>
      </div>

      <div class="list list-inset">
        <div class="item item-divider">
          Food Information
        </div>
        <label class="item item-input item-select">
          <div class="input-label">
            Food <span class="assertive">*</span>
          </div>
          <select 
            ng-model="selected.selectedFoodType" 
            ng-options="foodType.food_name for foodType in foodTypes track by foodType.food_id" 
            required="required">
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Serving <span class="assertive">*</span>
          </div>
          <select 
            ng-model="selected.selectedServingType" 
            ng-options="servingType.text for servingType in servingTypes track by servingType.id" 
            required="required">
          </select>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
