<ion-view view-title="Food History">
  <ion-content>
    <p ng-show="!foodList.length">You have not entered any food items.</p>
    <ion-list ng-repeat="item in foodList">
      <ion-item class="item-icon-left">
        <i class="icon {{getFoodIcon(item.food_name)}}"></i>
        <h2 class="first-letter">{{item.meal}} - <span style="font-size: smaller !important;">{{formatDate(item.food_timestamp)}}</span></h2>
        <p>
          <b>Meal: </b>{{item.food_name}}<br/>
          <b>Serving: </b>{{item.serving}}<br/>
          <b>Calories: </b>{{formatCalories(item.total_calories)}}
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>