<ion-view view-title="Food History">
  <ion-content>
    <ion-list ng-repeat="item in foodList">
      <ion-item class="item-icon-left">
        <i class="icon {{item.icon}}"></i>
        <h2 class="first-letter">{{item.type}} - <span style="font-size: smaller !important;">{{formatDate(item.date)}}</span></h2>
        <p>
          <b>Meal: </b>{{item.food}}<br/>
          <b>Serving: </b>{{item.serving_label}}<br/>
          <b>Calories: </b>{{formatCalories(item.calories,item.serving)}}
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>