<ion-view view-title="Profile">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-show="!editing" ng-click="toggleEdit()">Edit</button>
    <button class="button button-positive" ng-show="editing" ng-click="toggleEdit()"> Save Changes</button>
  </ion-nav-buttons>
  <ion-content>
    <form ng-submit="saveProfile()">
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="John" ng-readonly="!editing" ng-model="currentUser.fname">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Shepard" ng-readonly="!editing" ng-model="currentUser.lname">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" placeholder="john.shepard@N7.com" ng-readonly="!editing" ng-model="currentUser.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Secret" ng-readonly="!editing" ng-model="currentUser.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Birth Date</span>
          <input type="date" placeholder="yyyy-MM-dd" ng-readonly="!editing" ng-model="currentUser.birth_date">
        </label>
        <label class="item item-input">
          <span class="input-label">Height</span>
          <input type="number" placeholder="(inches)" ng-readonly="!editing" ng-model="currentUser.height">
        </label>
        <label class="item item-input">
          <span class="input-label">Waist <span class="assertive">*</span></span>
          <input type="number" placeholder="(inches)" ng-readonly="!editing" ng-model="currentUser.waist_size" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Weight</span>
          <input type="number" placeholder="(lbs)" ng-readonly="!editing" ng-model="currentUser.weight">
        </label>
        <!--
        <label class="item item-text-wrap item-radio">
          <input type="radio" name="gender" value="male" ng-disabled="!editing" ng-model="currentUser.gender">
          <div class="item-content">
            Male
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-text-wrap item-radio">
          <input type="radio" name="gender" value="female" ng-disabled="!editing" ng-model="currentUser.gender">
          <div class="item-content">
            Female
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        -->
      </div>

      <div class="list list-inset">
        <div class="item item-divider">
          Gender <span class="assertive">*</span>
        </div>
        <ion-radio-fix ng-disabled="!editing" ng-repeat="item in genderList" ng-value="item.value" ng-model="currentUser.gender">{{item.text}}</ion-radio-fix>
      </div>

      <div class="list list-inset">
        <div class="item item-divider">
          Address
        </div>
        <label class="item item-input">
          <span class="input-label">Street <span class="assertive">*</span></span>
          <input type="text" placeholder="1 Awesome Way" ng-readonly="!editing" ng-model="currentUser.address1" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Street 2</span>
          <input type="text" placeholder="(Optional)" ng-readonly="!editing" ng-model="currentUser.address2">
        </label>
        <label class="item item-input">
          <span class="input-label">City <span class="assertive">*</span></span>
          <input type="text" placeholder="New York" ng-readonly="!editing" ng-model="currentUser.city" required>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            State <span class="assertive">*</span>
          </div>
          <select ng-model="currentUser.state" ng-disabled="!editing">
            <option value="">Select a State</option>
            <option ng-selected='{{item.value == currentUser.state}}' ng-repeat="item in stateList" value="{{item.value}}">{{item.text}}</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">ZipCode <span class="assertive">*</span></span>
          <input type="text" placeholder="0000-12345" ng-readonly="!editing" ng-model="currentUser.zip" required>
        </label>
      </div>

    </form>
  </ion-content>
</ion-view>