<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">New Account</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRegisterModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form  ng-submit="doRegister()">
      
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">First Name <span class="assertive">*</span></span>
          <input type="text" placeholder="John" ng-model="registerData.fname" required="required">
        </label>
        <label class="item item-input">
          <span class="input-label">Middle Initial <span class="assertive">*</span></span>
          <input type="text" placeholder="S" ng-model="registerData.mi" required="required">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name <span class="assertive">*</span></span>
          <input type="text" placeholder="Shepard" ng-model="registerData.lname" required="required">
        </label>
        <label class="item item-input">
          <span class="input-label">Email <span class="assertive">*</span></span>
          <input type="email" placeholder="john.shepard@N7.com" ng-model="registerData.email" required="required">
        </label>
        <label class="item item-input">
          <span class="input-label">Password <span class="assertive">*</span></span>
          <input type="password" placeholder="Secret" ng-model="registerData.password" required="required">
        </label>
        <label class="item item-input">
          <span class="input-label">Birth Date <span class="assertive">*</span></span>
          <input type="date" placeholder="2154-04-11" ng-model="registerData.birth_date" required="required">
        </label>
        <label class="item item-input">
          <span class="input-label">Height <span class="assertive">*</span></span>
          <input type="number" placeholder="(inches)" ng-model="registerData.height" required="required">
        </label>
        <label class="item item-input">
          <span class="input-label">Waist <span class="assertive">*</span></span>
          <input type="number" placeholder="(inches)" ng-model="registerData.waist_size" required="required">
        </label>
        <label class="item item-input">
          <span class="input-label">Weight <span class="assertive">*</span></span>
          <input type="number" placeholder="(lbs)" ng-model="registerData.weight" required="required">
        </label>

        <!--
        <label class="item item-text-wrap item-radio">
          <input type="radio" name="gender" value="male" ng-model="registerData.gender">
          <div class="item-content">
            Male
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-text-wrap item-radio">
          <input type="radio" name="gender" value="female" ng-model="registerData.gender">
          <div class="item-content">
            Female
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        -->
      </div>

      <div class="list list-inset">
        <div class="item item-divider">
          Gender <span class="assertive">*</span>
        </div>
        <ion-radio-fix ng-repeat="item in genderList" ng-value="item.value" ng-model="registerData.gender" required="required">{{item.text}}</ion-radio-fix>
      </div>

      <div class="list list-inset">
        <div class="item item-divider">
          Address
        </div>
        <label class="item item-input">
          <span class="input-label">Street <span class="assertive">*</span></span>
          <input type="text" placeholder="1 Awesome Way" ng-model="registerData.address1" required="required">
        </label>
        <label class="item item-input">
          <span class="input-label">Street 2</span>
          <input type="text" placeholder="(Optional)" ng-model="registerData.address2">
        </label>
        <label class="item item-input">
          <span class="input-label">City <span class="assertive">*</span></span>
          <input type="text" placeholder="New York" ng-model="registerData.city" required="required">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            State <span class="assertive">*</span>
          </div>
          <select ng-model="registerData.state" style="direction: ltr !important;">
            <option value="" selected>Select a State</option>
            <option ng-repeat="item in stateList" value="{{item.value}}">{{item.text}}</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">ZipCode <span class="assertive">*</span></span>
          <input type="text" placeholder="0000-12345" ng-model="registerData.zip" required="required">
        </label>
      </div>

      <button class="button button-full button-positive" type="submit">Sign Up</button>

    </form>
  </ion-content>
</ion-modal-view>
