<ion-view view-title="Workout History">
  <ion-content>

    <ion-list type="card" ng-show="!workoutList.length">
      <ion-item ng-show="!workoutList.length">
        <p ng-show="!workoutList.length">You have not entered any workout items.</p>
      </ion-item>
    </ion-list>

    <ion-list type="card" ng-repeat="item in workoutList | orderBy:'-workout_timestamp'">
      <ion-item class="item-icon-left">
        <i class="icon {{getWorkoutIcon(item.workout_type)}}"></i>
        <h2 class="first-letter">{{item.workout_type}}</h2>
        <p>{{formatDate(item.workout_timestamp)}}</p>
      </ion-item>
      <a class="item item-body" href="#/app/workouts/{{item.workout_id}}">
        <!-- <img class="full-image" src="{{item.gmap}}"> -->
        <p>
           {{item.comments || 'Comment goes here...'}}
        </p>
        <p>
          <b>Distance: </b>{{item.distance}} mi.<br/>
          <b>Duration: </b>{{formatDuration(item.duration)}}<br/>
          <b>Pace: </b>{{formatPace(item.pace)}}<br/>
          <b>Calories: </b>{{formatCalories(item.calories)}}
        </p>
      </a>
    </ion-list>
  </ion-content>
</ion-view>