<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">New Account</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRegisterModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doRegister()">
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="John" ng-model="registerData.fname">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Shepard" ng-model="registerData.lname">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" placeholder="john.shepard@N7.com" ng-model="registerData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Secret" ng-model="registerData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Birth Date</span>
          <input type="date" placeholder="April 11, 2154" ng-model="registerData.birth_date">
        </label>
        <label class="item item-input">
          <span class="input-label">Height</span>
          <input type="number" placeholder="(inches)" ng-model="registerData.height">
        </label>
        <label class="item item-input">
          <span class="input-label">Weight</span>
          <input type="number" placeholder="(lbs.)" ng-model="registerData.weight">
        </label>
        <div class="item item-divider">
          Gender
        </div>
        <label class="item item-text-wrap item-radio">
          <input type="radio" name="gender" value="male" ng-model="registerData.gender">
          <div class="item-content">
            Male
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-text-wrap item-radio">
          <input type="radio" name="gender" value="female" ng-model="registerData.gender">
          <div class="item-content">
            Female
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Sign Up</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
