/* Empty. Add your own CSS if you like */

.center-content {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute !important;
    margin:0 auto;
    width:100%;
}